.cards-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 80px;
}

.card {
  width: 320px;
  padding: 25px;
  background: rgba(6, 6, 6, 0.08);
  backdrop-filter: blur(15px);
  color: #4a4e52;
  border-radius: 18px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.25);
}

.card h3 {
  margin-bottom: 15px;
  font-size: 22px;
  color: #000000;
}

.card-row p {
  margin: 5px 0;
}

.day-text {
  font-size: 17px;
  line-height: 1.4;
}
