.nav-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  gap: 30px;
  padding: 12px 30px;

  background: rgba(7, 172, 136, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.2);

  z-index: 999;
}

.nav-container svg {
  font-size: 26px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  transition: 0.3s ease;
}

.nav-container svg:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}

@media (max-width: 768px) {
  .nav-container {
    gap: 20px;
    padding: 10px 22px;
  }

  .nav-container svg {
    font-size: 22px;
  }
}


@media (max-width: 480px) {
  .nav-container {
    gap: 15px;
    padding: 8px 18px;
    bottom: 15px;
  }

  .nav-container svg {
    font-size: 20px;
  }
}


@media (max-width: 360px) {
  .nav-container {
    gap: 12px;
    padding: 7px 15px;
  }

  .nav-container svg {
    font-size: 18px;
  }
}
