.container-user {
  margin-left: 260px;
  min-height: 100vh;
  padding-top: 140px;
  padding-left: 40px;
  padding-right: 40px;
  transition: 0.3s ease;
}

.user {
  position: fixed;
  top: 0;
  left: 240px;
  right: 0;
  z-index: 998;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  color: white;
  padding: 30px;
  /* border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 10px; */
  transition: 0.3s ease;
}

.user-greet h1 {
  font-size: 30px;
  margin: 0;
}

.user-greet p {
  margin: 5px 0 0;
  color: #cfcfcf;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.profile-icon {
  font-size: 35px;
}

.card-container {
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.card {
  background: white;
  width: 300px;
  padding: 25px;
  border-radius: 35px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}


@media (max-width: 1024px) {

  .container-user {
    margin-left: 200px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .user {
    left: 200px;
    padding: 20px;
  }

  .user-greet h1 {
    font-size: 26px;
  }

  .card {
    width: 45%;
  }
}

@media (max-width: 768px) {

  .container-user {
    margin-left: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 160px;
  }

  .user {
    left: 0;
    width: 100%;
    border-radius: 0;
    padding: 20px 15px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .card-container {
    justify-content: center;
  }

  .card {
    width: 90%;
  }
}
@media (max-width: 480px) {

  .user-greet h1 {
    font-size: 22px;
  }

  .profile-icon {
    font-size: 30px;
  }

  .card {
    width: 100%;
    padding: 20px;
  }

  .card-container {
    gap: 20px;
  }
}
