.terms-container {
  background: white;
  color: black;
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}
.terms-header h2{
margin-top:90px;
font-weight: bold;
}
.terms-content section {
  margin: 25px 0;
  text-align: left;
}
.terms-content ul {
  margin-left: 20px;
  text-align: left;
}

.terms-footer {
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
  opacity: 0.8;
}

.terms-content h3{
  font-weight: bold;
  font-size:25px;
}
