.login-bg {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.login-box {
  width: 380px;
  padding: 40px;
  border-radius: 12px;
  background: white;
  text-align: center;
}

.login-heading {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 25px;
}

.msg {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  font-size: 14px;
}

.error {
  background: #ffdddd;
  color: #c20000;
}

.success {
  background: #ddffdd;
  color: #0c8a00;
}


.input-wrap {
  position: relative;
  margin-bottom: 18px;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 12px;
  font-size: 18px;
  color: #666;
}

.input-field {
  width: 100%;
  padding: 12px 12px 12px 40px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #f2f2f2;
  outline: none;
  font-size: 15px;
}

.input-field:focus {
  border-color: #ff2f76;
}

.remember {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 6px;
  font-size: 14px;
}

.login-btn {
  width: 100%;
  padding: 12px;
  border: none;
  background: #ff2f76;
  color: white;
  font-size: 17px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 20px;
}

.login-btn:hover {
  background: #e30057;
}

.divider {
  margin: 15px 0;
  font-size: 14px;
  color: #777;
}


.social-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.fb-btn,
.google-btn {
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  background: white;
}

.fb-btn:hover {
  background: #e7f0ff;
}

.google-btn:hover {
  background: #f9e7e7;
}

.signup-text {
  margin-top: 20px;
  font-size: 14px;
}

.signup-link {
  color: #ff2f76;
  cursor: pointer;
  font-weight: 600;
}
